/* Nav */

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    /* background-image: url(../assets/images/AdobeStock_192182376a.jpg);*/
    font-weight: bold;
    opacity: 0.9;
}

.nav li {
    display: inline;
}


.nav a {
    display: inline-block;
    padding: 10px;
    color: white;
}

.nav a:hover {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.parallax {
    position: relative;
    z-index: 1;
    height: 100%;
}

#parallaxDiv1 {
    background: url(../assets/images/AdobeStock_192182376.jpeg) no-repeat fixed;
    background-size: cover;
}

#parallaxDiv2 {
    background: url(../assets/images/AdobeStock_144521357.jpeg) no-repeat fixed;
    background-size: cover;
    padding: 3%;
}

#parallaxDiv3 {
    background: url(../assets/images/AdobeStock_197216010.jpeg) no-repeat fixed;
    background-size: cover;
    padding: 3%;
}

/* Headers */

#header {
    font-size: 7em;
    color: #83E5E3;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#headerDiv {
    background-color: rgba( 0, 0, 0, 0.4);
    border-radius: 3em;
    width: 40%;
    height: 30%;
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(../assets/images/AdobeStock_192182376a.jpg);
    background-size: cover;
    opacity: 0.95;

}

.sectionHeader {
    font-size: 3em;
    font-weight: bold;
    font:
}

.subsectionHeader {
    padding: 1%;
    font-weight: bold;
    font-size: 4em;
    margin-top: 0;
}

/* Content */

.content1 {
    background-color: rgba( 0, 0, 0, 0.4);
    border-radius: 1em;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    background-image: url(../assets/images/AdobeStock_144521357a.jpg);
    background-size: cover;
}

.content2 {
    background-color: rgba( 0, 0, 0, 0.4);
    border-radius: 1em;
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    background-image: url(../assets/images/AdobeStock_197216010a.jpg);
    background-size: cover;
}

#contentImage1 {
    display: block;
    margin: auto;
    opacity: 1;
    border-radius: 1em;
}

#contentImage2 {
    display: block;
    margin: auto;
    opacity: 1;
    border-radius: 1em;
}


.contentText {
    background-color: rgba( 0, 0, 0, 0.3);
    border-radius: 1em;
    color: white;
    margin: 2%;
    padding: 1%;
    text-align: left;
}

/* Footer */

#footer {
    background-image: url(../assets/images/AdobeStock_197216010b.jpg);
    padding: 1%;
    height: 5%;
    text-align: right;
}

backToTop {
    text-decoration: none;
}

#backToTopImage {

    margin-right: 2%;

}

a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;

}


/* Media Queries */

@media only screen and (max-width: 600px) {
    div div div img {
        width: 10%;
        height: 20%;
    }
    #headerDiv {
        width: 80%;
        height: 25%;
        border-radius: 2em;
    }
    #header {
        font-size: 4em;
    }

    #contentImage1 {
        width: 70%;
        margin-bottom: 2em;
    }

    #contentImage2 {
        width: 70%;
        margin-bottom: 2em;

    }

    .subsectionHeader {
        margin-left: 0.5em;
        font-size: 2.5em;
    }

    contentText {
        padding: 8%;
    }

    #backToTopImage {

        width: 10%;

    }
}
